.login-options-container{
    margin-top: 50px;
    margin-bottom: 200px;
}

.udlogin{
    background-image: url('../assets/default-large.svg');
    background-size: cover;
    width: 420px;
    height: 52px;
    border: none;
    margin: 1px;
}

.udlogin:hover {
    background-image: url('../assets/hover-large.svg');
}


.login-section{
    text-align: center;
}

.tip{
    font-family: Arial;
}


.udlogout{
    margin-top: 10px;
    color: rgb(6, 7, 40);
    width: 100px;
    height: 40px;
    transition-duration: 0.4s;
    border: none;
    border-radius: 10px;
}

.udlogout:hover{
    background-color: #0E67FF;
    color: white;
}