.login-options-container{
    margin-top: 100px;
}

.udlogin{
    background-image: url('../assets/default-large.svg');
    background-size: cover;
    width: 420px;
    height: 52px;
    border: none;
    cursor: pointer;
    margin: 1px;
}

.udlogin:hover {
    background-image: url('../assets/hover-large.svg');
}

.udlogin:active{
    background-image: url('../assets/pressed-large.svg');
}

.udlogin-loading{
    background-image: url('../assets/loading-large.svg');
    background-size: cover;
    width: 1000px;
    height: 52px;
    border: none;
    cursor: pointer;
    margin: 1px;
}

.login-section{
    text-align: center;
}

.tip{
    font-family: Arial;
}

.anonlogin {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 420px;
}

.anonlogin:hover,
.anonlogin:focus {
  opacity: .75;
}